.App {
  text-align: left;
}

.home{
  width: 40%;
  min-height: 100vh;
  margin:10% auto;
}
.dashboard {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.leftDiv {
  width: 15%;
  margin-top: 2%;
}
.rightDiv {
  width: 80%;
}
.header{
  width: 100%;
  margin: 0;

}
/*  */
.listingHome{
  display: flex;
  justify-content: space-between;
}
.leftMenu{
  width: 100px;
}
.grid{
  width: 79%;
}
.listingAccount{
  display: flex;
  align-items: center;
}
.sellerName{
  width: 20%;
}
.errorBadge .Polaris-Badge{
  background-color: rgb(255, 94, 94);
}
.NotListedBadge .Polaris-Badge{
  background-color: #d9f8ea;
}

/* 
Inactive 
Incomplete 
Active */